body{
	background-color:tan;
}
.Buttons{
 	width: 50px;
	height:	40px;
	color:black;
	font-weight: bold;
	background-color:303030;
	border-bottom:black 2px solid;
	border-right: black 2px solid;
	border-radius: 10px;
	border-top:2px 303030 solid;
	margin: 1px;
}
}
.inputText{
	padding-right:2px;
	padding-left:2px;
}
input:hover{
	background-color: 303030;
	color: black;
}
#table{
	align:center;
	border-color: Black;
	border-bottom:black 4px solid;
	border-right: black 4px solid;
	border-style: solid;
	border-radius: 10px;
	background-color: grey;

}
tr{
	height: auto;
	width: auto;
	padding: 5px;
	border-radius: 10px;
}
#clear{
	background-color: pink;
	color: #000;
	font-style: italic;
}
h1{
	text-align: center;
	color: #543555;
}
#Display{
	position:relative;
	width: 220px;
	height: 60px;
margin:2px;
height:50px;
color:black;
background-color:#bccd95;
font-size:21px;
text-align:right;
}
